.container-section {
  margin: 7.5rem auto;
}

.main-content {
  display: block;
}

.main-title {
  margin-bottom: 2rem;
}

.banner {
  padding-left: 2.5rem;
  margin-left: 5rem;
}

form {
  width: 100%;
}

form div {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
}

form input[type=text], form input[type=email], form textarea {
  width: 100%;
  border: 1px solid #686868;
  outline: 0;
  border-radius: 7px;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  resize: none;
}

form input[type=submit] {
  background: #FF4081;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 3.25rem;
  font-size: 1rem;
  font-weight: 800;
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border:1px solid #ff4081;
}


@media only screen and (max-width: 1160px) {
  form {
    width: 80%;
  }
  .banner {
    padding: 0;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 630px) {
  .banner {
    display: none ;
  }
}