.container-section {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-content {
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 3rem;
  
}

.box {
  margin: 6rem auto;
}

.img {
  width: 380px;
  height: 360px;
}

.main-title {
  text-align: start;
}

.second-title {
  color: #ff4081;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  max-width: 724px;
  margin-bottom: 3rem;
}

.green-button {
  display: inline-block;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #419488;
  padding: 1rem 2rem;
  border-radius: 62px;
  box-sizing: border-box;
}

.separator {
  margin: 5rem auto;
}

@media only screen and (max-width: 1160px) {
  .main-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .separator {
    margin: 1rem auto;
  }
  .box {
    margin: 3rem;
  }
}

@media only screen and (max-width: 780px) {
  .text,
  .subtitle {
    width: auto;
    margin: 3rem auto;
  }
  .img {
    width: 240px;
  }
}
